* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	border: 0px #000000 solid;
	height: 98%;
	font: 12pt monospace;
	margin: 0 auto;
	max-width: 80ch;
}
.intLink {
	cursor: pointer;
}

img.intLink {
	border: 0;
}

#toolBar1 select {
}

#textBox {
	width: 100%;
	height: calc(100vh - 5rem);
	border: 0px #000000 solid;
	padding: 0 12px;
	overflow: auto;
}

#editMode label {
	cursor: pointer;
}