
		* {
			box-sizing: border-box;
		}

		:root {
			font: 100% monospace;
			--mnu-width: 22rem;
			--screen-width: calc(100vw);
			--headerHeight: 6rem;
		}

		html {
			height: 100%;
		}

		body {
			margin: 0;
		}

		a {
			color: crimson;
			text-decoration: none;
		}

		a:hover,
		a:focus,
		a:active {
			background-color: yellow;
			color: #aaa;
			text-decoration: underline
		}

		button,
		input[type=button] {
			background-color: #ddd;
			border: none;
			color: #322;
			cursor: pointer;
			padding: 3px 5px;
		}

		button:hover {
			background: #ccc;
			color: #fff
		}

		button:active {
			background: blue;
			color: #fff
		}

		summary {
			font-weight: bold;
		}


		.secContents {
			margin: 0 auto;
			max-width: 40rem;
		}


		#divContents {
			border: 0px solid red;
			height: 100%;
			left: var(--mnu-width);
			padding: 0 1rem;
			position: absolute;
			width: calc(100% - var(--mnu-width));
		}


		#expandButton {
			height: 32px;
			position: absolute;
			left: var(--mnu-width);
			transition: left 0.5s;
			width: 32px;
			z-index: 1;
		}


		#navMenu {
			background-color: #eee;
			height: 100%;
			left: 0;
			overflow: auto;
			padding: 0 1rem;
			position: fixed;
			transition: left 0.5s;
			top: 0;
			width: var(--mnu-width);
			z-index: 10;
		}


		#divContents.collapsed {
			left: 0;
			width: 100%;
		}

		#expandButton.collapsed {
			left: 0;
		}

		#navMenu.collapsed {
			left: calc(var(--mnu-width) * -1);
			padding: 0;
		}



		@media all and (max-width: 640px) {

			#divContents {
				left: 0;
				padding: 0 1rem;
				width: 100%;
			}

			#expandButton {
				bottom: 1rem;
			}

		}

		@media all and (max-height: 640px) {

			#divContents {
				left: 0;
				padding: 0 1rem;
				width: 100%;
			}

			#expandButton {
				bottom: 1rem;
			}

		}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}
body {
	border: 0px #000000 solid;
	height: 98%;
	font: 12pt monospace;
	margin: 0 auto;
	max-width: 80ch;
}
.intLink {
	cursor: pointer;
}

img.intLink {
	border: 0;
}

#toolBar1 select {
}

#textBox {
	width: 100%;
	height: calc(100vh - 5rem);
	border: 0px #000000 solid;
	padding: 0 12px;
	overflow: auto;
}

#editMode label {
	cursor: pointer;
}